<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
    <!--
      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body>
    <%= yield %>
    <div data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  </body>
</html>
